<div class="container">

  <div class="row">
      <div class="col-md-9">
        <h3>Opdracht</h3>
        <table class="table">
          <tbody>
          <tr ng-repeat="(key, value) in  opdracht">
            <th scope="col">{{ key }}</th>
            <td>
              <span>{{ formatField(key, value) }}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-3">
        <h3>Acties</h3>
        <div class="list-group" style="cursor: pointer">
          <a class="list-group-item" id="transformaties" ng-click="resendTransformatie()">Transformaties</a>
          <a class="list-group-item" id="publicatie_opdracht" ng-click="opnieuwPubliceren()">Publicatieopdracht (XPO)</a>
          <a class="list-group-item" id="doorleveren_ozon" ng-click="resendForward()">Doorleveren OZON</a>
        </div>
      </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Meldingen</div>
    <table class="table">
      <tbody>
      <tr ng-repeat="melding in meldingen.meldingen | orderBy:'creatieDatum'">
        <td>{{util.toDate(melding.creatieDatum) | date :'dd-MM-yyyy HH:mm:ss.sss'}}</td>
        <td>{{ melding.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Opdracht bestanden</div>
    <table class="table table-hover">
      <tbody>
      <tr ng-repeat="bestand in bestanden | orderBy:'naam' ">
        <td>
          <div style="cursor: pointer" ng-click="viewDetails(bestand)">
            <span ng-show="! bestand.visible && ! bestand.isZip" class="glyphicon glyphicon-plus-sign"
                  aria-hidden="true"></span>
            <span ng-show="bestand.visible && ! bestand.isZip" class="glyphicon glyphicon-minus-sign"
                  aria-hidden="true"></span>
            <span ng-show="bestand.isZip" class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            {{ bestand.naam }}
          </div>
          <div ng-show="bestand.visible" style="width: 99%; overflow-x: scroll;"><br>
            <pre style="white-space: pre-wrap; width: 99%; background-color: white;">{{ bestand.xml | prettyXml
              }} </pre>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Details van opdracht</div>
    <pre style="white-space: pre-wrap; width: 99%; background-color: white; border: none;">{{ statusXml | prettyXml
      }}</pre>
  </div>

  <div class="panel">
    <a href="{{ exportUrl }}" class="btn btn-sm btn-primary">Download export</a>
  </div>

</div>
