<div class="container">
    <h2>Publicatie Opdrachten (XPO)</h2>
    <div class="panel panel-default">
        <table class="table">
            <tbody>
            <tr>
                <th scope="col">OIN</th>
                <td>
                    <span>{{ oin }}</span>
                </td>
            </tr>
            <tr>
                <th scope="col">idlevering</th>
                <td>
                    <span>{{ idLevering }}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <b ng-show="errorstate">{{ error }}</b>
    <div>
        <span>Aantal resultaten: {{ pagination.count }} - Kies aantal resultaten</span>
        <select ng-model="selectedPageSize" ng-change="updatePageSize()">
            <option ng-repeat="size in pageSize" value="{{size.number}}">{{size.number}}</option>
        </select>
    </div>
    <table class="table monitor">
        <thead>
        <tr>
            <th>Publicatie id</th>
            <th>XPO-id</th>
            <th>Opdracht</th>
            <th>Status</th>
            <th>Tijdstip Aangeboden</th>
            <th>Tijdstip Gewijzigd</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="publicatieopdracht in publicatieOpdrachten">
            <td>{{publicatieopdracht.publicatieId}}</td>
            <td>{{publicatieopdracht.id}}</td>
            <td>{{publicatieopdracht.opdrachtType}}</td>
            <td>{{publicatieopdracht.lastStatusUpdated}}</td>
            <td>{{publicatieopdracht.created}}</td>
            <td>{{publicatieopdracht.lastUpdate}}</td>
            <div [ngClass]="bericht.fout==true ? 'color:black': 'color:gray'">
                <td><button id="{{'opnieuw_publiceren'+$index}}" ng-disabled="true" ng-click="resend(bericht)"><span class="glyphicon glyphicon-refresh"></span> Opnieuw Publiceren</button></td>
            </div>
        </tr>
        </tbody>
    </table>
    <ul uib-pagination ng-model="pagination.pageNum" ng-change="updateResults()"
        ng-class="{ hide : pagination.count < pagination.pageSize }"
        items-per-page="pagination.pageSize" total-items="pagination.count" boundary-links="true"
        rotate="true" max-size="10" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
    </ul>
</div>


