<div class="container">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-2">
      <h4>Upload BHKV</h4>
      <p>Upload een ZIP in het formaat die ook via Digikoppeling aangeleverd kan worden.</p>
      <p/>
      <p><strong>Let op</strong>: De idLevering in de aangeleverde zip moet uniek zijn.</p>
      <br/>
    </div>
  </div>

  <form class="form-horizontal">
    <div class="form-group">
      <label for="zipFile" class="col-sm-2 control-label">Zip bestand</label>
      <div class="col-sm-6">
        <input type="file" file-model="zipFile" id="zipFile" ng-click="emptyResult()"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button ng-click="uploadZip()" class="btn btn-sm btn-primary">Upload</button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-2">
      {{ result }}
    </div>
  </div>
</div>
