<div class="container">
  <h3>Doorleveren OZON</h3>

  <div class="panel panel-default">
    <table class="table">
      <tbody>
      <tr>
        <th scope="col">oid</th>
        <td>
          <span>{{ oin }}</span>
        </td>
      </tr>
      <tr>
        <th scope="col">idlevering</th>
        <td>
          <span>{{ idLevering }}</span>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Type</th>
        <th>Status</th>
        <th>Creatiedatum</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="melding in meldingen.meldingen">
        <td>{{ melding.soort }}</td>
        <td>{{ melding.value }}</td>
        <td>{{util.toDate(melding.creatieDatum) | date :'dd-MM-yyyy HH:mm:ss.sss'}}</td>
        <td><button ng-show="melding.soort=='toestand' && melding.resendButton" id="{{'doorleveren_toestand'+$index}}" ng-click="resendToestand()">Opnieuw doorleveren toestand</button></td>
      </tr>
      <tr><td colspan="4" style="text-align: center; font-weight:bold">{{ result }} {{ error }}</td></tr>
      {{ errorMelding }}
      </tbody>
    </table>
</div>
</div>